<section class="p-4">
  <div class="d-flex justify-content-between">
    <h2 class="heading-color">Change Your Password</h2>
    <a class="text-danger" (click)="onNoClick()"><i class="fa-solid fa-xmark-circle fa-2x"></i></a>
  </div>
  <form [formGroup]="changePassForm" (ngSubmit)="sendNewPass()">
    <div class="row py-5">
      <div class="col-md-10 mx-auto">
        <div class="input-group mb-3 p-0 form-control align-items-center">
          <span class="input-group-text py-3 me-2" id="basic-addon1">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input [type]="hide1? 'password': 'text'" formControlName="oldPassword" class="m-input flex-grow-1 py-2" placeholder="Enter Old Password" aria-label="Username" aria-describedby="basic-addon1">
          <span (click)="hide1 = !hide1">
            <i class="fa-solid" [class]="hide1? 'fa-eye-slash': 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="changePassForm.get('oldPassword')?.errors&&changePassForm.get('oldPassword')?.touched" class="warning text-danger text-center fw-bold">
          <p *ngIf="changePassForm.get('oldPassword')?.getError('required')">* Password is Requierd</p>
          <p *ngIf="changePassForm.get('oldPassword')?.getError('pattern')">* Must be Contain Uppercase Letter, Lowercase Letter, Numeric Value, Special Symbol(!@#$%^&*_+=-) and the total length should be between 8 - 16</p>
        </div>
      </div>


      <div class="col-md-10 mx-auto">
        <div class="input-group mb-3 p-0 form-control align-items-center">
          <span class="input-group-text py-3 me-2" id="basic-addon1">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input [type]="hide2? 'password': 'text'" formControlName="newPassword" class="m-input flex-grow-1 py-2" placeholder="Enter New Password" aria-label="Username" aria-describedby="basic-addon1">
          <span (click)="hide2 = !hide2">
            <i class="fa-solid" [class]="hide2? 'fa-eye-slash': 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="changePassForm.get('newPassword')?.errors&&changePassForm.get('newPassword')?.touched" class="warning text-danger text-center fw-bold">
          <p *ngIf="changePassForm.get('newPassword')?.getError('required')">* Password is Requierd</p>
          <p *ngIf="changePassForm.get('newPassword')?.getError('pattern')">* Must be Contain Uppercase Letter, Lowercase Letter, Numeric Value, Special Symbol(!@#$%^&*_+=-) and the total length should be between 8 - 16</p>
        </div>
      </div>

      <div class="col-md-10 mx-auto">
        <div class="input-group mb-3 form-control p-0 align-items-center">
          <span class="input-group-text py-3 me-2" id="basic-addon1">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input [type]="hide3? 'password': 'text'" formControlName="confirmNewPassword"
          class="m-input flex-grow-1 py-2" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
          <span (click)="hide3 = !hide3">
            <i class="fa-solid" [class]="hide3? 'fa-eye-slash': 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="changePassForm.get('confirmNewPassword')?.errors&&changePassForm.get('confirmNewPassword')?.touched" class="warning text-danger text-center fw-bold">
          <p *ngIf="changePassForm.get('confirmNewPassword')?.getError('required')">* Password is Requierd</p>
          <p *ngIf="changePassForm.get('confirmNewPassword')?.getError('mismatch')">* Password confirmation Is incorrected</p>
        </div>
      </div>
    </div>

    <div class="text-end">
      <button class="success-main">Save</button>
    </div>
  </form>

</section>
