.side{
  border-radius: 0 50px 0 0;
  position: fixed;
  transition:all .5s ease;
}
ul{
  transition: all 0.5s;
}
.item{
  color: #fff;
  text-decoration: none;
  margin:5px 0;
  padding: 5px;
  span{
    margin:0 5px
  }
}

.active{
  background-color: #0092471A;
}

a{
  cursor: pointer;
}
.minwidth{
  width:80px
}
.imgwidth{
  width:90px
}
img{
  transition: 0.5s;
}
