<section class="full-page">
  <section class="mt-4">
    <div class="page-title w-100 bg-success-main">
      <div class="container">
        <div class="row justify-content-between align-items-center px-4">
          <div class="col-md-6">
            <div>
              <h1>Recipes <span>Item</span></h1>
              <p>You can now add your items that any user can order it from the Application and you can edit</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="text-end">
              <img class="w-75" src="../../../assets/Images/img-cate.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center p-4">
      <div>
        <h3>Recipes Table Details</h3>
        <p>You can check all details</p>
      </div>
      <div class="actions ">
        <span (click)="Cart()" class="shadow" [class]="showCart? 'bg-success-main': 'bg-white'">
          <i class="fa-solid fa-table-cells-large fa-2x" [class]="showCart? 'text-white': 'success-text'"></i>
        </span>
        <span (click)="Table()" class="shadow" [class]="showTable?'bg-success-main': 'bg-white'">
          <i class="fa-solid fa-list fa-2x " [class]="showTable?'text-white': 'success-text'"></i>
        </span>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-form-field" class="w-100" appearance="outline">
          <mat-label>Clearable input</mat-label>
          <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="getAllRecipes()">
          <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="searchValue='';getAllRecipes()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Tags</mat-label>
          <mat-select [(ngModel)]="tageId" (selectionChange)="getAllRecipes()">
            <mat-option value = "0">All</mat-option>
            <mat-option *ngFor="let tag of listTags" [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="cateId" (selectionChange)="getAllRecipes()">
            <mat-option value = "0">All</mat-option>
            <mat-option *ngFor="let category of listCategories" [value]="category.id">{{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>

    <div *ngIf="showCart" class="row g-4">
      <div *ngFor="let item of listData?.data" class="col-md-4 ">
        <div class="rec-holder shadow">
          <i *ngIf="!favList.includes(item.id)" (click)="addToFav(item.id)" class="fa-regular fa-heart fa-2x"></i>
          <img  [src]="item?.imagePath? imgUrl + item.imagePath: emptyImge" alt="">
          <div class="info">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <span *ngFor="let cate of item.category">{{cate.name}}</span>
              <span>{{item.tag?.name}}</span>
            </div>
            <p>Price: <span class="fw-bold">{{item.price | currency: 'EGP '}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>




    <table *ngIf="showTable" class="table table-hover text-center">
      <thead>
        <th class="py-4">Name</th>
        <th class="py-4">Image</th>
        <th class="py-4">Price</th>
        <th class="py-4">Description</th>
        <th class="py-4">Tag</th>
        <th class="py-4">Category</th>
        <th class="py-4">Actions</th>
      </thead>

      <tbody>
        <ng-container *ngIf="listData.data.length>0">
          <tr *ngFor="let item of listData.data">
            <td>{{item.name}}</td>
            <td class="w-25"> <img class="w-50" [src]="item?.imagePath? imgUrl + item.imagePath: emptyImge" alt=""> </td>
            <td>{{item.price}}</td>
            <td>{{item.description.split(' ').slice(0, 4).join(' ')}}</td>
            <td>{{item.tag.name}}</td>
            <td>
              <span *ngFor="let category of item.category">
                {{category.name}} <span *ngIf="item.category.length>1">,</span>
              </span>
            </td>

            <td>


              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
              <button (click)="openDialogView(item)" mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              </mat-menu>


            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>




  <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="listData?.totalNumberOfRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [pageIndex]="pageNumber"
    aria-label="Select page">
  </mat-paginator>
</section>

